# Exploratory Data Analysis: Univariate Analysis

## 1. Defining the Question

### a) Specifying the Data Analytic Question

> Which was the most improved SAT subject from the year 2017 - 2018?

### b) Defining the Metric for Success

### c) Understanding the context

### d) Recording the Experimental Design

### e) Data Relevance

## 2. Reading the Data

In [9]:
# Loading the Data from the source i.e. csv
# ---
# Dataset 1 url = http://bit.ly/SAT2017Dataset
# Dataset 2 url = http://bit.ly/SAT2018Dataset
# ---
import pandas as pd
import numpy as np

data1=pd.read_csv('http://bit.ly/SAT2017Dataset')
data2=pd.read_csv('http://bit.ly/SAT2018Dataset')
data=pd.merge(data1,data2)

## 3. Checking the Data

In [4]:
# Determining the no. of records in our dataset
#
data.describe()

       Evidence-Based Reading and Writing   Math   Total
count                                 1.0    1.0     1.0
mean                                542.0  532.0  1074.0
std                                   NaN    NaN     NaN
min                                 542.0  532.0  1074.0
25%                                 542.0  532.0  1074.0
50%                                 542.0  532.0  1074.0
75%                                 542.0  532.0  1074.0
max                                 542.0  532.0  1074.0

In [7]:
# Previewing the top of our dataset
data1.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [8]:
# Previewing the bottom of our dataset
data2.tail()

            State Participation  ...  Math  Total
46       Virginia           68%  ...   550   1117
47     Washington           69%  ...   538   1081
48  West Virginia           28%  ...   486    999
49      Wisconsin            3%  ...   653   1294
50        Wyoming            3%  ...   625   1257

[5 rows x 5 columns]

In [ ]:
# Checking whether each column has an appropriate datatype
#

## 4. External Data Source Validation

Making sure your data matches something outside of the dataset is very important. It allows you to ensure that the measurements are roughly in line with what they should be and it serves as a check on what other things might be wrong in your dataset. External validation can often be as simple as checking your data against a single number, as we will do here.

An example would be suppose that you're working with a dataset on the population of countries during the year 2016. Validating such information with an external reliable resource such as World Bank Data would be important step to providing credibility to your dataset. Have a look at the following link for an example. [Link](https://rstudio-pubs-static.s3.amazonaws.com/182250_19977d0c5c06403fbad1e653850fc7c6.html).

### a.Validation

## 5. Tidying the Dataset

In [ ]:
# Checking for Outliers
import seaborn as sns
sns.boxplot(x=data['Science'])

In [ ]:
# Checking for Anomalies
#

In [ ]:
# Identifying the Missing Data
#

In [ ]:
# Dealing with the Missing Data
#

In [ ]:
# More data cleaning procedures
#

## 6. Exploratory Analysis

In [ ]:
# Ploting the univariate summaries and recording our observations
#

## 7. Implementing the Solution

In [ ]:
# Implementing the Solution
# Which was the most improved SAT subject from the year 2017 - 2018?
math

In [10]:
data1.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           569.117647  547.627451  1126.098039
std                             45.666901   84.909119    92.494812
min                            482.000000   52.000000   950.000000
25%                            533.500000  522.000000  1055.500000
50%                            559.000000  548.000000  1107.000000
75%                            613.000000  599.000000  1212.000000
max                            644.000000  651.000000  1295.000000

In [11]:
data2.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           563.686275  556.235294  1120.019608
std                             47.502627   47.772623    94.155083
min                            480.000000  480.000000   977.000000
25%                            534.500000  522.500000  1057.500000
50%                            552.000000  544.000000  1098.000000
75%                            610.500000  593.500000  1204.000000
max                            643.000000  655.000000  1298.000000

## 8. Challenging the solution

> The easy solution is nice because it is, well, easy, but you should never allow those results to hold the day. You should always be thinking of ways to challenge the results, especially if those results comport with your prior expectation.

In [ ]:
# Reviewing the Solution 
#

## 9. Follow up questions

> At this point, we can refine our question or collect new data, all in an iterative process to get at the truth.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

### c). Did we have the right question?